{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <h4>Edite la Sucursal</h4>
    <form action="" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" class="form-control mb-2" value="{{ sucursal.nombre }}" required>

        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" class="form-control mb-2" value="{{ sucursal.direccion }}" required>

        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" class="form-control mb-2" value="{{ sucursal.telefono }}" required>

        <button type="submit" class="btn btn-success">Editar</button>
    </form>
</div>
{% endblock %}
