{% extends 'base_template.html' %}

{% block content %}
    <h2>Resumen de Funcionalidades</h2> 
    <p>En este sistema de gestion referente a una tienda de celulares se podran ejecutar las siguientes funcionalidades</p>
    <p>aplicadas a cada uno de los modelos y registros del sistema.</p>
    <li>Crear Registros.</li>
    <li>Ver los registros cargados con anterioridad.</li>
    <li>Modificar Registros Existentes.</li>
    <li>Eliminar Registros Existentes.</li>
    <p>Dentro del sistema podemos encontrar tres grandes bloques de gestion.</p>
    <ol>El Primero referido a la gestion de equipos.</ol>
    <ol>El Segundo hace foco en la gestion de personal y clientes.</ol>
    <ol>El Tercero abarca las ventas de la tienda.</ol>

{% endblock %} 
