{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h4>Ingresar nuevo registro al Inventario </h4>
            <form action="" method="post">
                <label for="producto">Producto</label>
                <select name="producto" id="" class="form-control mb-2">
                    {% for producto in equipos %}
                        <option value="{{ producto.id }}"> {{ producto.nombre }} </option>
                    {% endfor %}
                    {% for producto in accesorios %}
                        <option value="{{ producto.id }}"> {{ producto.nombre }} </option>
                    {% endfor %}
                </select>
                <label for="tipo"><Tipo/label>
                <select name="tipo" id="" class="form-control mb-2">
                    <option value="equipo">Equipo</option>
                    <option value="accesorio">Accesorio</option>
                </select>
                <label for="cantidadDisponible">Cantidad Disponible</label>
                <input type="text" name="cantidadDisponible" class="form-control mb-2" placeholder="Cantidad Disponible">
                <label for="ubicacionAlmacen">Ubicacion en Almacen</label>
                <input type="text" name="ubicacionAlmacen" class="form-control mb-2" placeholder="Ubicacion en Almacen">
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>            
        <div class="col-8">
            <h4>Listado del Inventario</h4>
            <table class="table">     
                <thead>
                    <tr>
                        <th>Codigo de Producto</th>
                        <th>Tipo</th>
                        <th>Cantidad Disponible</th>
                        <th>Ubicacion en Almacen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventario in inventarios %}
                    <tr>
                        <td>{{ inventario.producto }}</td>
                        <td>{{ inventario.tipo }}</td>
                        <td>{{ inventario.cantidadDisponible }}</td>
                        <td>{{ inventario.ubicacionAlmacen }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>   
</div>
{% endblock %}
