{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            {% include 'nav_equipos.html' %}
        </div>
    </div>
    <div class="row">

        <div class="col-4">
            <h4>Inserta una nueva Categoria</h4>
            <form action="" method="post">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre de la Categoria">
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-8">
            <h4>Listado de Categorias</h4>
            <table class="table">     
                <thead>
                    <tr>
                        <th>Nombre</th>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{categoria.nombre}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}