{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            {% include 'nav_equipos.html' %}
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h4>Ingrese un nuevo Equipo</h4>
            <form action="" method="post" class="d-inline-block text-left" style="max-width: 500px;">
                <label for="modelo">Modelo</label>
                <select name="modelo" id="" class="form-control mb-2">
                    {% for modelo in modelos %}
                        <option value="{{modelo.id}}">{{modelo.modelo}}</option>
                    {% endfor %}
                </select>
                <label for="marca">Marca</label>
                <select name="marca" id="" class="form-control mb-2">
                    {% for marca in marcas %}
                        <option value="{{marca.id}}">{{marca.nombre}}</option>
                    {% endfor %}
                </select>
                <label for="categoria">Categoria</label>
                <select name="categoria" id="" class="form-control mb-2">
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                    {% endfor %}
                </select>
                <label for="precio">Precio</label>
                <input type="number" name="precio" class="form-control mb-2" placeholder="Precio">
                <label for="caracteristicas">Caracteristicas</label>
                <select name="caracteristicas" id="" class="form-control mb-2">
                    {% for caracteristica in caracteristicas %}
                        <option value="{{caracteristica.id}}">
                            {{ caracteristica.nombre }} - {{ caracteristica.descripcion }}
                        </option>
                    {% endfor %}
                </select>
                <label for="proveedor">Proveedor</label>
                <select name="proveedor" id="" class="form-control mb-2">
                    {% for proveedor in proveedores %}
                        <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="col-12 text-center">
                <h4>Listado de Equipos</h4>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Caracteristicas</th>
                        <th>Descripcion</th>
                        <th>Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipo in equipos %}
                    <tr>
                        <td>{{ equipo.modelo.modelo }}</td>
                        <td>{{ equipo.marca.nombre }}</td>
                        <td>{{ equipo.categoria.nombre }}</td>
                        <td>{{ equipo.precio }}</td>
                        <td>{{ equipo.caracteristicas.nombre }}</td>
                        <td>{{ equipo.caracteristicas.descripcion }}</td>
                        <td>{{ equipo.proveedor.nombre }}</td>
                        <td>Editar</td>
                        <td>Borrar</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
