{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Listado de Marcas Inactivas</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fabricante</th>
                        <th>Restaurar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr>
                        <td>{{ marca.nombre }}</td>
                        <td>{{ marca.fabricante.nombre }}</td>
                        <td>
                            <form action="{{ url_for('restaurar_marca', id=marca.id) }}" method="post">
                                <button type="submit" class="btn btn-warning">Restaurar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
