{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            {% include 'nav_equipos.html' %}
        </div>
    </div>
    <div class="row">

        <div class="col-4">
            <h4>Ingresa una nueva marca</h4>
            <form action="" method="post">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre de la Marca">
                <label for="fabricante">Fabricante</label>
                <select name="fabricante" id="" class="form-control mb-2">
                    {% for fabricante in fabricantes %}
                        <option value="{{fabricante.id}}">{{fabricante.nombre}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-8">
            <h4>Listado de Marcas</h4>
            <table class="table">     
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fabricante</th>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr>
                        <td>{{ marca.nombre }} </td>
                        <td>{{ marca.fabricante.nombre }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
    
{% endblock %}
