{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            {% include 'nav_equipos.html' %}
        </div>
    </div>
    <div class="row">

        <div class="col-4">
            <h4>Inserta un nuevo Fabricante</h4>
            <form action="" method="post">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre del Fabricante">
                <label for="Origen">Pais de Origen</label>
                <input type="text" name="origen" class="form-control mb-2" placeholder="Origen del Fabricante">
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-8">
            <h4>Listado de Fabricantes</h4>
            <table class="table">     
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Origen</th>
                </thead>
                <tbody>
                    {% for fabricante in fabricantes %}
                    <tr>
                        <td>{{ fabricante.nombre }} </td>
                        <td>{{ fabricante.origen }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
    
{% endblock %}