{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-4">
            <h4>Ingresar Nueva Caracteristica</h4>
            <form action="" method="post">
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nueva Caracteristica">
                <input type="text" name="descripcion" class="form-control mb-2" placeholder="Descripcion">
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-8">
            <h4>Listado de Caracteristicas</h4>
            <ul>
                {% for caracteristica in añadirCaracteristica %}
                <li>
                    <a href="/caracteristicas/{{ caracteristica.id }}/equipos">{{ caracteristica.nombre }} - {{ caracteristica.descripcion }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    
    </div>
</div>
    
{% endblock %}
